/* Monster Canvas */
/* canvas */
.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: #232933;
    border-radius: 10px;
}

.mouth {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.tail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.paw {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.horn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.ear {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.hair{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.eye {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}
.monster-body {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384));
}
.shadow-monster {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: drop-shadow(-3px 3px 5px rgba(70, 70, 70, 0.384))
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Monster Canvas */
   /* canvas */
       .parent {
           width: 25rem;
           height: 25rem;
       }
}