.slider {
    outline: 0;
    -webkit-appearance: none;
    
    height: 10px;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 1px 2px #000000c0;
    background: linear-gradient(to right, 
                hsl(146deg 80% 37%) 0%, 
                hsl(166deg 100% 33%) 8.3%, 
                hsl(180deg 100% 33%) 16.6%, 
                hsl(191deg 100% 39%) 25%, 
                hsl(228deg 91% 71%) 33.3%, 
                hsl(274deg 75% 70%) 41.6%, 
                hsl(320deg 78% 68%) 50%, 
                hsl(348deg 100% 70%) 58.3%, 
                hsl(23deg 71% 54%) 66.6%, 
                hsl(39deg 70% 42%) 75%, 
                hsl(89deg 65% 37%) 83.3%, 
                hsl(124deg 52% 43%) 91.6%, 
                hsl(146deg 80% 37%) 100%);
}

.slider::-webkit-slider-thumb { 
  -webkit-appearance: none;
  -webkit-box-shadow: 2px 1px 2px #000000c0;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #2ED67A;
  overflow: visible;
  cursor: pointer;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .slider {
    width: 12em;
  }
  .body-card {
    width: 220px;
  }
}