*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #8747E2 */
body {
    background-color: #8747E2;
    background: fixed linear-gradient(to bottom, #8e3ffca4, #2c0366ea), url("../img/pattern/pattern.png"), #1D1D24;
    font-family: 'Quicksand', sans-serif;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* BTN */
.btn-primary {
    background-color: #2ED67A !important;
    color: #1D1D24 !important;
    border: 0;
}

.btn-secondary {
    background-color: #169E8A !important;
    color: #1D1D24 !important;
    border: 0;
}

.btn-info {
    background-color: #19FDEF !important;
    color: #1D1D24 !important;
    border: 0;
}

.btn-success {
    background-color: #430c7a !important;
    border: 0;
}

.btn-success:hover .btn-success:focus {
    background-color: #8747E2 !important;
}

.btn-warning {
    background-color: #ff7300 !important;
    color: #1D1D24 !important;
    border: 0;
}
.btn-light {
    background-color: #EAE6E6 !important;
    border: 0;
}

.btn-dark {
    background-color: #1D1D24 !important;
}

/* BTN outline */

.btn-outline-success {
    border: 0;
}
.btn-outline-success:hover {
    background-color: #5E17A6 !important;
}
.btn-outline-success:focus {
    background-color: #b37dff !important;
    box-shadow: none;
    transition: 1s;
}

/* done btn */
.btn-done {
    background-color: #1FDBBF !important;
    color: #1D1D24 !important;
    transition: 1s ease-out;
    border: 0;
}

.btn-done:hover {
    background: linear-gradient(to right, #11a752, #00a881, 
                #00a8a8, #00a2c7, #728df8, 
                #ba79ec, #ed6ec3, #ff6685) !important;
    color: #1D1D24 !important;
    border: 0;
}

/* Social media btns */
.btn-facebook {
    background-color:#4267B2;
    color: #EAE6E6;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.322);
}

.btn-twitter {
    background-color:#1DA1F2;
    color: #EAE6E6;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.322);
}

.btn-whats {
    background-color:#1cb855;
    color: #EAE6E6;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.322);
}

.btn-instagram {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border: none;
    color: #EAE6E6;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.322);
}

.btn-pinterest {
    background-color:#E60023;
    color: #EAE6E6;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.322);
}

.share {
    filter: invert(90%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    width: 25px;
    pointer-events: none;
}

/* Text */
.text-primary {
    color: #2ED67A !important;
}
.text-secondary {
    color: #501988 !important;
}
.text-info {
    color: #19FDEF !important;
}
.text-success {
    color: #5E17A6 !important;
}
.text-warning {
    color: #FA650A !important;
}
.text-light {
    color: #EAE6E6 !important;
}
.text-dark {
    color: #1D1D24 !important;
}

/* Backgorund */
.bg-primary {
    background-color: #2ED67A !important;
}
.bg-secondary {
    background-color: #D7ABFF !important;
}
.bg-info {
    background-color: #19FDEF !important;
}
.bg-success {
    background-color: #3a0b68 !important;
}
.bg-warning {
    background-color: #FA650A !important;
}
.bg-light {
    background-color: #EAE6E6 !important;
}
.bg-dark {
    background-color: #1D1D24 !important;
}

.bg-gradient-modal {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #dbb323 0%, #f85c01 100%);
    
}

/* borders */

.border-warning {
    border-width: 3px !important;
    border-radius: 0 !important;
    border-color: #ff7300 !important;
}