*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #8747E2 */
body {
    background-color: #8747E2;
    background: fixed linear-gradient(to bottom, #8e3ffca4, #2c0366ea), url("../img/pattern/pattern.png"), #1D1D24;
    font-family: 'Quicksand', sans-serif;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* BTN */
.btn-primary {
    background-color: #2ED67A !important;
    color: #1D1D24 !important;
    border: 0;
}

.btn-secondary {
    background-color: #2ED67A !important;
    color: #1D1D24 !important;
    transition: 1s ease-out;
    border: 0;
}

.btn-secondary:hover {
    background: linear-gradient(to right, #11a752, #00a881, 
                #00a8a8, #00a2c7, #728df8, 
                #ba79ec, #ed6ec3, #ff6685) !important;
    color: #8747E2 !important;
    border: 0;
}

.btn-info {
    background-color: #19FDEF !important;
    color: #1D1D24 !important;
    border: 0;
}
.btn-success {
    background-color: #5E17A6 !important;
    border: 0;
}
.btn-warning {
    background-color: #FA650A !important;
    color: #1D1D24 !important;
    border: 0;
}
.btn-light {
    background-color: #EAE6E6 !important;
    border: 0;
}

.btn-dark {
    background-color: #1D1D24 !important;
}

/* BTN outline */

.btn-outline-success {
    border: 0;
}
.btn-outline-success:hover {
    background-color: #5E17A6 !important;
}
.btn-outline-success:focus {
    background-color: #8747E2 !important;
    box-shadow: none;
    transition: 1s;
}

/* Text */
.text-primary {
    color: #2ED67A !important;
}
.text-secondary {
    color: #7826c9 !important;
}
.text-info {
    color: #19FDEF !important;
}
.text-success {
    color: #5E17A6 !important;
}
.text-warning {
    color: #FA650A !important;
}
.text-light {
    color: #EAE6E6 !important;
}
.text-dark {
    color: #1D1D24 !important;
}

/* Backgorund */
.bg-primary {
    background-color: #2ED67A !important;
}
.bg-secondary {
    background-color: #D7ABFF !important;
}
.bg-info {
    background-color: #19FDEF !important;
}
.bg-success {
    background-color: #5E17A6 !important;
}
.bg-warning {
    background-color: #FA650A !important;
}
.bg-light {
    background-color: #EAE6E6 !important;
}
.bg-dark {
    background-color: #1D1D24 !important;
}

/* borders */

.border-warning {
    border-width: 3px !important;
    border-color: #FA650A !important;
}